.cs_hero.cs_style_1 {
  position: relative;
  padding-top: 105px;
  background-color: #141414;

  .cs_hero_in {
    min-height: 780px;
    padding: 150px 0;
    position: relative;
    width: 100%;
    // display: flex;
    // align-items: center;
  }
  .cs_hero_subtitle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 11px 24px;
    background: linear-gradient(
      94deg,
      rgba(255, 255, 255, 0.4) 33.35%,
      rgba(255, 255, 255, 0.1) 91.75%
    );
  }
  .cs_hero_title {
    text-align: center;
  }
  .cs_hero_footer {
    .cs_hero_footer_left {
      max-width: 452px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      .cs_hero_footer_left {
        padding-bottom: 25px;
      }
    }
  }
}
