.cs_about_section_img{
    min-width: 617px;
    min-height: 627px;
    border-radius: 25px;
}
.cs_about_video_img{
    position: absolute;
    top: -60px;
    right: -20px;
    border-radius: 25px;
    box-shadow: 0 0 0 20px white;
}
.cs_about_left{
    padding-right: 105px;
}
.cs_about_right{
    padding-left: 50px;
}