.cs_about_section_img{
    min-width: 617px;
    min-height: 627px;
    border-radius: 25px;
}
.cs_about_video_img{
    position: absolute;
    top: -60px;
    right: -20px;
    // border: 20px solid white;
    border-radius: 25px;
    box-shadow: 0 0 0 20px white;
}
