.cs_asia_gallery{
    .container{
        @media (min-width:1300px){
        max-width: 1240px;
      }
      @media (min-width:1400px){
        max-width: 1340px;
      }
    }
}
.cs_culture_journey{
    width: 1080px;
    height: 537px;
}
.cs_culture_journey_wraper{
    .cs_left_arrow,
    .cs_right_arrow{
        position: absolute;
        top: 50%;
        cursor: pointer;
        z-index: 1000;
    }
    .cs_left_arrow{
        left: 0px;
    }
    .cs_right_arrow{
        right: 0px;
    }
}
.cs_culture_journey_location{
    display: flex;
    align-items: end;
    height: 100%;
    padding: 24px;
}
.cs_search_icon{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    opacity: 0;
    }

.cs_europe_journey_img{
    width: 387px;
    height: 329px;
    transition: all 0.3s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover{
     .cs_search_icon_overlay{
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(0deg,#1d1d1d -23.78%,rgba(29, 29, 29, 0) 100%);
        border-radius: 25px;
        width: 100%;
        height: 100%;
        .cs_search_icon{
            z-index: 33333;
            opacity: 1;
           }
         }
          }
    
    }
    

