.cs_testimonial{

}
.cs_testimonial_blockquote{
    border: 1px solid  var(--primary);
    border-radius: 25px;
    padding: 32px;

    .cs_testimonial_avatar{
        padding-top: 24px;
        
        div{
            padding-left: 20px;
        }
    }
}