.cs_testimonial.cs_style_1 {
  border: 1px solid var(--primary);
  border-radius: 25px;
  padding: 32px;

  @media (max-width: 991px) {
    padding: 24px 20px 30px;
  }
}

.cs_avatar.cs_style_1 {
  align-items: center;
  gap: 15px 20px;
  margin-top: 24px;
  transition: all 0.3s ease;
  transition-delay: 0.4s;
  transform: translateY(20px);
  opacity: 0;

  .cs_avatar_icon {
    height: 48px;
    width: 48px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
}

.cs_testimonial_blockquote_icon {
  height: 100%;
  display: flex;
  align-items: end;
}

// .cs_checkbox {
//   margin-right: 20px;
// }

.slick-active {
  .cs_avatar.cs_style_1 {
    opacity: 1;
    transform: translateY(0);
  }
}