.cs_tour_benefits{
    background-color: #F3F3F3;
    .cs_tour_benefits_in{
        justify-content: space-between;
        align-items: stretch;
        gap: 40px;
    }
    .cs_tour_benefits_right{
       

        .cs_tour_benefits_right_in{
            .cs_tour_benefits_card{ 
                border-radius: 25px 25px 0px 0px;
                padding: 24px 50px;   
                border: 1px solid var(--primary);
               &:not(:last-child){
                border-bottom: none;              
               }
               &:last-child{
                border-radius: 25px ;
                background-color: var(--primary);                
            }
                &:not(:first-child){
                   margin-top: -20px;
                }
                        
                .cs_tour_benefits_card_details{                   
                    max-width: 433px;
                    margin-left: 25px;
                }
            }
        }
    }

}