/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
 
  --primary: #141414;
  --secondary: #FFF;
 
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Playfair Display", serif;
}
