/*--------------------------------------------------------------
  9. Isotope
----------------------------------------------------------------*/
.cs_isotop {
  transition: all 0.4s ease;
}

.cs_isotop.cs_has_gutter_40 {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -40px;

  .cs_isotop_item {
    padding: 0 20px;
    margin-bottom: 40px;
  }
}

.cs_isotop_col_6 .cs_grid_sizer,
.cs_isotop_col_6 .cs_isotop_item {
  width: 16.666667%;
}

.cs_isotop_col_5 .cs_grid_sizer,
.cs_isotop_col_5 .cs_isotop_item {
  width: 20%;
}

.cs_isotop_col_4 .cs_grid_sizer,
.cs_isotop_col_4 .cs_isotop_item {
  width: 25%;
}

.cs_isotop_col_3 .cs_grid_sizer,
.cs_isotop_col_3 .cs_isotop_item {
  width: 33.333333%;
}

.cs_isotop_col_2 .cs_grid_sizer,
.cs_isotop_col_2 .cs_isotop_item {
  width: 50%;
}

.cs_isotop_col_1 .cs_grid_sizer,
.cs_isotop_col_1 .cs_isotop_item {
  width: 100%;
}

.cs_grid_sizer {
  width: 33.333333%;
}

.cs_isotop_col_5 .cs_w20,
.cs_isotop_col_4 .cs_w20,
.cs_isotop_col_3 .cs_w20,
.cs_isotop_col_2 .cs_w20,
.cs_isotop_col_1 .cs_w20 {
  width: 20%;
}

.cs_isotop_col_5 .cs_w25,
.cs_isotop_col_4 .cs_w25,
.cs_isotop_col_3 .cs_w25,
.cs_isotop_col_2 .cs_w25,
.cs_isotop_col_1 .cs_w25 {
  width: 25%;
}

.cs_isotop_col_5 .cs_w33,
.cs_isotop_col_4 .cs_w33,
.cs_isotop_col_3 .cs_w33,
.cs_isotop_col_2 .cs_w33,
.cs_isotop_col_1 .cs_w33 {
  width: 33.333333%;
}

.cs_isotop_col_5 .cs_w50,
.cs_isotop_col_4 .cs_w50,
.cs_isotop_col_3 .cs_w50,
.cs_isotop_col_2 .cs_w50,
.cs_isotop_col_1 .cs_w50 {
  width: 50%;
}

.cs_isotop_col_5 .cs_w66,
.cs_isotop_col_4 .cs_w66,
.cs_isotop_col_3 .cs_w66,
.cs_isotop_col_2 .cs_w66,
.cs_isotop_col_1 .cs_w66 {
  width: 66.666666%;
}

.cs_isotop_col_5 .cs_w100,
.cs_isotop_col_4 .cs_w100,
.cs_isotop_col_3 .cs_w100,
.cs_isotop_col_2 .cs_w100,
.cs_isotop_col_1 .cs_w100 {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .cs_isotop_col_4 .cs_grid_sizer,
  .cs_isotop_col_4 .cs_isotop_item {
    width: 33.333333%;
  }
}

@media screen and (max-width: 991px) {
  .cs_isotop_col_4 .cs_grid_sizer,
  .cs_isotop_col_4 .cs_isotop_item {
    width: 50%;
  }

  .cs_isotop_col_4 .cs_w50 {
    width: 100%;
  }

  .cs_isotop_col_3 .cs_grid_sizer,
  .cs_isotop_col_3 .cs_isotop_item {
    width: 50%;
  }

  .cs_isotop_col_2 .cs_grid_sizer,
  .cs_isotop_col_2 .cs_isotop_item {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cs_isotop_col_5 .cs_w50,
  .cs_isotop_col_4 .cs_w50,
  .cs_isotop_col_3 .cs_w50,
  .cs_isotop_col_2 .cs_w50,
  .cs_isotop_col_1 .cs_w50,
  .cs_isotop_col_5 .cs_w66,
  .cs_isotop_col_4 .cs_w66,
  .cs_isotop_col_3 .cs_w66,
  .cs_isotop_col_2 .cs_w66,
  .cs_isotop_col_1 .cs_w66 {
    width: 100%;
  }

  .cs_isotop_col_5 .cs_grid_sizer,
  .cs_isotop_col_5 .cs_isotop_item {
    width: 100%;
  }

  .cs_isotop_col_4 .cs_grid_sizer,
  .cs_isotop_col_4 .cs_isotop_item {
    width: 100%;
  }

  .cs_isotop_col_3 .cs_grid_sizer,
  .cs_isotop_col_3 .cs_isotop_item {
    width: 100%;
  }

  .cs_isotop_col_2 .cs_grid_sizer,
  .cs_isotop_col_2 .cs_isotop_item {
    width: 100%;
  }
}




.cs_isotop {

  .cs_isotop_item {

    &:nth-child(1) {
      height: 172px;
      width: 320px;
      
    }

    &:nth-child(2) {
      height: 329px;
      width: 640px;
      
      //  @media (max-width: 1399px){
      //   width: 500px;
      // }
    }

    &:nth-child(3) {
      width: 320px;
      height: 380px;
      @media (max-width: 1399px){
        width: 280px;
      }
    }

    &:nth-child(4) {
      width: 320px;
      height: 420px;

      @media (max-width:1399px ){
        height: 524px;
      }
    }

    &:nth-child(5) {
      height: 263px;
      width: 320px;
    }

    &:nth-child(6) {
      height: 263px;
      width: 320px;

    }

    &:nth-child(7) {
      height: 212px;
      width: 320px;
    }

    a {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
}
}

}

@media (max-width: 1299px) {
  .cs_isotop_item {
    &:nth-child(1) {
      width: 295px;
      height: 159px;
    }

    &:nth-child(2) {
      width: 591px;
      height: 304px;
    }

    &:nth-child(3) {
      width: 295px;
      height: 351px;
    }

    &:nth-child(4) {
      width: 295px;
      height: 388px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      width: 295px;
      height: 243px;
    }

    &:nth-child(7) {
      width: 295px;
      height: 196px;
    }

    a {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .cs_isotop {
    gap: 18px; // if you were using 20px before, scale it too (20 * 0.923)
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.cs_isotop_item{
 a{
   &:hover{
     .cs_search_icon_overlay{
       position: absolute;
        left: 0;
        top: 0;
        z-index: 3333;
        opacity: 1;
        background: linear-gradient(0deg,#1d1d1d -23.78%,rgba(29, 29, 29, 0) 100%);
        border-radius: 25px;
        width: 100%;
        height: 100%;
        .cs_search_icon{
            z-index: 33333;
            opacity: 1;
           }
         }
  }
 }
}



